Repository temmishy/procellariidae_packer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate_ubuntu, validate_wazuh, build_ubuntu, build_wazuh

.gitlab-ci.yml:

stages:
  - validate
  - build

validate_ubuntu:
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes: 
        - ubuntu.pkr.hcl
    - if: '$CI_COMMIT_BRANCH == "test"'
      changes: 
        - ubuntu.pkr.hcl
  stage: validate
  script:
    - export YC_TOKEN=$(yc iam create-token)
    - export YC_CLOUD_ID=$(yc config get cloud-id)
    - export YC_FOLDER_ID=$(yc config get folder-id)
    - packer validate ubuntu.pkr.hcl
  tags:
    - shell

validate_wazuh:
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes: 
        - wazuh-server.pkr.hcl
    - if: '$CI_COMMIT_BRANCH == "test"'
      changes: 
        - wazuh-server.pkr.hcl
  stage: validate
  script:
    - export YC_TOKEN=$(yc iam create-token)
    - export YC_CLOUD_ID=$(yc config get cloud-id)
    - export YC_FOLDER_ID=$(yc config get folder-id)
    - packer validate wazuh-server.pkr.hcl
  tags:
    - shell

build_ubuntu:
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes: 
        - ubuntu.pkr.hcl
  stage: build
  script:
    - export YC_TOKEN=$(yc iam create-token)
    - export YC_CLOUD_ID=$(yc config get cloud-id)
    - export YC_FOLDER_ID=$(yc config get folder-id)
    - packer build ubuntu.pkr.hcl
  tags:
    - shell

build_wazuh:
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes: 
        - wazuh-server.pkr.hcl
  stage: build
  script:
    - export YC_TOKEN=$(yc iam create-token)
    - export YC_CLOUD_ID=$(yc config get cloud-id)
    - export YC_FOLDER_ID=$(yc config get folder-id)
    - packer build wazuh-server.pkr.hcl
  tags:
    - shell

Change runner tag
  .gitlab-ci.yml
Due: none

Change runner tag
  ubuntu.pkr.hcl
Due: validate_ubuntu, build_ubuntu

Added var
  .gitlab-ci.yml
Due: none

Added var
  ubuntu.pkr.hcl
  wazuh-server.pkr.hcl
Due: validate_ubuntu, validate_wazuh, build_ubuntu, build_wazuh

Added image for suricata
  .gitlab-ci.yml
Due: none

Added image for suricata
  suricata.pkr.hcl
Due: none
